# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/6110a85f-0ccf-46de-bfd2-532c059be6ba.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/bc2d52ee-4dac-4806-9d32-24fdde5d73ab.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/a6a259fd-d5e1-41ac-a8e3-5e797424fc8d.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/76c07b6d-4c5d-465f-bb2d-65e9f10383f3.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/f8a3e4e6-0f2c-4cd4-af2a-0b192fa21f50.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/5d4a5597-cd9f-44be-93c9-cb7397fd6fb4.vsidx
Proyecto2DMatiasRojas/Logs/AssetImportWorker0.log
Proyecto2DMatiasRojas/Logs/AssetImportWorker0.log
Proyecto2DMatiasRojas/Logs/AssetImportWorker0.log
Proyecto2DMatiasRojas/Logs/AssetImportWorker1.log
Proyecto2DMatiasRojas/Logs/AssetImportWorker0.log
Proyecto2DMatiasRojas/UserSettings/Layouts/default-2022.dwlt
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/c69aae33-d3c3-4f46-b2f6-458d93582fd6.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/d051a800-976e-4e18-a5ad-b15b70748353.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/51dbee20-6798-4c6b-b1b1-4f19a74cab05.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/b5b21d8c-b6c1-4119-b1ea-a1f1114ef75f.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/10c7d9ea-0065-405e-992e-6b15122cde61.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/3daab79f-4161-47b6-b13c-e72345ded7d2.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/c373b5ce-88d7-4bb4-b1d4-1596717e2613.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/8f772e74-9760-4f06-96e3-23b0b0aa0cb0.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/c373b5ce-88d7-4bb4-b1d4-1596717e2613.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/c373b5ce-88d7-4bb4-b1d4-1596717e2613.vsidx
Proyecto2DMatiasRojas/.vs/Proyecto2DMatiasRojas/FileContentIndex/c373b5ce-88d7-4bb4-b1d4-1596717e2613.vsidx
